.container1 {
	width: 25vw;
	height: 89vh;
	margin-top: 10px;
	margin-left: 12px;
	border-radius: 8px;
	float: left;
	padding: 6px;
	background-color: rgb(216, 216, 216);
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
	border-radius: 20px;
}
.container2 {
	margin-top: 10px;
	float: left;
	width: 70vw;
	height: 89vh;
	overflow-y: scroll;
	display: inline;
}
h3 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin-top: 3px;
}
.inp {
	padding: 2px;
}
.card {
	background-color: whitesmoke;
	width: 20%;
	height: 20%;
}
